@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Overpass:400,700,900');

/*******************************

OVERRIDE

*******************************/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #B34298;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  color: #2C4488;
  font-size: 25px;
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
}

h4 {
  color: #2C4488;
  font-size: 25px;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Overpass', sans-serif;
}

.row {
  margin: 0;
}
/*******************************

UNIVERSAL

*******************************/
.white-bg {
  background: #fff;
}
.right {
float: right;
}
.h-pad {
padding: 100px 0;
}
.pad-bot {
padding-bottom: 20px;
}
.pad-bot40 {
padding-bottom: 40px;
}
.side-pad {
  padding: 0 10px;
}

.center {
margin: 0 auto;
text-align: center;
}

#section6, #section7 {
  padding: 200px 0;
  height: 100vh;
}

#section1, #section2 {
  padding: 200px 0;
  position: relative;
}

.desktop-hide {
  display: none;
}

.m-list {
  display: none;
}


.align-items-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;

}

/*******************************

COUNTDOWN

*******************************/

.dig {
    display: inline-block;
    margin: 0 10px;
}

.dig label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}


.dig span {
    font-size: 35px;
    color: #fff;
}


/*******************************

NAVIGATIONS

*******************************/
#share {
    position: fixed;
    top: 40%;
    z-index: 999;
}

.jssocials-share {
    display: block !important;
    margin: 0.3em 0.6em 0.3em 1.3em !important;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
button.dropbtn,
.dropdown:hover .dropbtn,
.dropdown:hover .dropbtn:hover,
span.dropbtn, a span.dropbtn {
    background: none;
    color: #fff;
    border: #fff solid 1px;
    padding: 8px;
    text-transform: uppercase;
    text-transform: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: -300px;
    left: 102px;
}

.dropdown-content a:first-child { display:none; }



/* Dropdown END */

.mobile-language {
  display: none;
  z-index: 999;
}


/*******************************

MAIN HEADER

*******************************/

.vlogo {
    position: absolute;
    top: 20px;
    left: 20px;
    position: fixed;
    z-index: 4;
}

#main-header {
  background: url(/images/default-source/vcon17/main-header-bg.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.main-header {
  background: url(/images/default-source/vcon17/rocket.png) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
  height: 100vh;
}

#main-header .container {
  z-index: 1;
}

#main-header h1{
  color: #fff;
  font-size: 45px !important;
  text-transform: uppercase;
}

#main-header h1 span {
  font-weight: 400;
  font-size: 30px;
}

#main-header .desktop-language {
  color: #fff;
  padding-top: 40px;
  z-index: 999;
  position: relative;
}

.row.align-items-center {
    display: flex;
}

.row.align-items-center.col-md-3 {

}

.desktop-language a{
  color: #fff;
  font-weight: 700;
}

.desktop-language a.active {
  color: #FFF500;
}
/*******************************

SECTION 1

*******************************/

#section1 .container h4, #section1 .container p {
  max-width: 700px;
  margin: 0 auto 20px;
}

#section1 .flower-left {
    position: absolute;
    top: 0px;
    left: -180px;
}

#section1 .flower-right {
    position: absolute;
    bottom: -135px;
    right: 0;
    z-index: 1;

}

/*******************************

SECTION 2

*******************************/

#section2 {
  background-color: #B34298;
  color: #fff;

}

#section2 h1 {
  color: #fff;
  text-align: center;
}


.sec2-bg {
    position: absolute;
    bottom: 0;
}
/*******************************

SECTION 3

*******************************/
#section3 {
  padding: 150px 0 100px;
  position: relative;
}

#section3 .container p{
  max-width: 700px;
  margin: 0 auto;
}

#section3 h3 {
  color: #0AA4C8 !important;
  border: 3px solid #0AA4C8 !important;
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  font-size: 70px;
  text-transform: uppercase;
}

#section3 a {
  text-decoration: none;
}

#section3 .img-fluid.mx-auto {
  position: absolute;
  top: -70px;
  right: 10px;
}

/*******************************

SECTION 4

*******************************/
#section4 {
  padding: 200px 0;
  height: auto !important;
}

.vp-name {
    background-color: #57CAEB;
    color: #fff;
    display: inline-block;
    padding: 20px 20px 0 20px;
    margin: 0 0 30px 0;
}


.vp-name::after {
    content: "";
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 20px solid #57CAEB;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    float: none;
    display: block;
    bottom: -19px;
}

#section4 .m-list {
  overflow: hidden;
}

#section4 .m-list ul {
  list-style: none;
}

#section4 .m-list ul li {
  float: left;
  margin-bottom: 20px;

}

#section4 .m-list ul li img {
  display: block;
}


.w-list {
  align-items: center;
  clear: both;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 100px 68px 110px;
  position: relative;
  width: 100%;
}

.w-list .item {
    cursor: pointer;
    display: inline-block;
    flex-wrap: wrap;
    left: 0 !important;
    margin: 0;
    position: relative;
    filter: grayscale(100%);
}

.w-list .item img {
  height: auto;
}

.w-list .item:nth-child(1) {
}

.w-list .item:nth-child(2) {
  z-index: 101;
}

.w-list .item:nth-child(3) {
  z-index: 102;
}

.w-list .item:nth-child(4) {
  z-index: 103;
}

.w-list .item:nth-child(5) {
z-index: 104;
}

.w-list .item:nth-child(6) {
  z-index: 105;
}

.w-list .item:nth-child(7) {
  z-index: 106;
}

.w-list .item:nth-child(8) {
  z-index: 108;
}

.w-list .item:nth-child(9) {
  z-index: 107;
}

.w-list .item:nth-child(10) {
  z-index: 106;
}

.w-list .item:nth-child(11) {
  z-index: 105;
}

.w-list .item:nth-child(12) {
  z-index: 104;
}

.w-list .item:nth-child(13) {
  z-index: 103;
}

.w-list .item:nth-child(14) {
  z-index: 102;
}

.w-list .item:nth-child(15) {
  z-index: 101;
}

.w-list .item:nth-child(16) {
}

.w-list .vp-name {
  display: table;
  font-size: 14px;
  left: 8%;
  margin: 0 0 0 -69%;
  position: absolute;
  top: -80px;
  visibility: hidden;;
  width: 200px;
}

.w-list .item:hover {
  filter: none;
  transition: all 0.35s ease-in-out 0s; -moz-transition: all 0.35s ease-in-out 0s; -ms-transition: all 0.35s ease-in-out 0s; -o-transition: all 0.35s ease-in-out 0s;-webkit-transition: all 0.35s ease-in-out 0s;
}


.w-list .item:hover .vp-name {
  visibility: visible;
}


/*******************************

SECTION 5

*******************************/
#section5 .row .col-md-4 {
  padding: 0;
}

#section5 {
  background-color: #B34398;
}

#section5 img {
  margin: 0 auto;
}

#section5 .title {
  padding: 30px;
}

#section5 h4 {
  color: #fff;
  margin-bottom: 0;
}


/*******************************

SECTION 6

*******************************/
#section6 {
  background: url(/images/default-source/vcon17/ticket_1.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 50px 0;
  background-attachment: fixed;
  position: relative;
}

#section6 h1 {
  color: #fff !important;
  border: 1px solid #fff !important;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 100px;
}

#section6 h3 {
  color: #fff !important;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 100px;
  font-family: 'Lato', sans-serif;
}

#section6 p {
  color: #fff !important;
}

#section6 .ticket-building {
  position: absolute;
  bottom: 0;
}

/*******************************

SECTION 7

*******************************/
#section7 {
  background: url(/images/default-source/vcon17/sec7-bg.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}

.col-md-8.center.dl-wallpaper {
    position: relative;
}
.img-responsive.center.dl-1 {
    position: absolute;
    left: 0;
}
#section7 h1 {
  color: #fff;
  font-size: 40px;
  margin-top: 40px;
}

#section7 h1 span {
  font-size: 60px;
}

#section7 p {
  color: #fff;
}

#section7 h4 {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff !important;
  padding: 10px;
  margin: 20px 20px 0 0;
  max-width: 200px;
  display: inline-block;
}

#section7 a, #section7 a:hover {
  color: #fff;
  text-decoration: none;
}

.dl-buttons {
    margin-top: 500px;
}

/*******************************

SECTION 8

*******************************/

#section8 {
  background-color: #B34398;
  padding: 200px 0;
  color: #fff;
}

#section8 h1 {
  color: #fff;
  font-size: 30px;
}

#section8 h4 {
  color: #fff;
  border: 1px solid #fff !important;
  padding: 10px;
}

#section8 h3 {
  color: #fff;
  border: none;
}

#section8 a {
  color: #fff;
  font-size: 20px;
}

#section8 a h4 {
  color: #fff;
  font-size: 20px;
}

#section8 a:hover, #section8 a:focus {
  text-decoration: none;
  color: #fff;
}

#section8 .panel-body {
    padding-bottom: 20px;
}

#section8 .panel-body a{
    color: #fff;
    text-decoration: none;
}

#section8 .panel-body a:hover, #section8 .panel-body a:active{
  text-decoration: none;
}

/*******************************

INNER SECTION

*******************************/
.inner-section {
  background: url(/images/default-source/vcon17/inner-bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 50px 0 300px;
  background-attachment: fixed;
  position: relative;
}


.news-section h1{
  padding-bottom: 30px;
}


/*******************************

BETWEET SECTIONS

*******************************/

#betsec1 {
  padding: 300px 0;
}

#betsec3 {
  padding: 30px 0;
  position: relative;
}


#betsec1 {
  background: url(/images/default-source/vcon17/inbet1-bg.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: auto;
}

#betsec1 h4 {
  color: white !important;
}

#betsec1 h1 {
  color: #0AA4C8 !important;
  border: 1px solid #0AA4C8 !important;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-size: 100px;
}

#betsec1 a {
  text-decoration: none;
}

#betsec2 {
  background-color: #173480;
  padding: 100px 0;
  position: relative;
}

#betsec2 .flower-left {
    position: absolute;
    top: -260px;
    max-width: 50%;

}

#betsec2 .flower-right {
    position: absolute;
    bottom: -350px;
    max-width: 40%;
    right: 0;
}


.divider img {
  width: 100%;
}


#betsec2 h1, #betsec2 p{
  color: #fff;
}


#betsec3 p {
  position: absolute;
  top: 180px;
  max-width: 550px;
  left: 207px;
  text-align: left !important;
}

#betsec3 h1 {
  color: #4B65BC ;
  border: 1px solid #4B65BC !important;
  margin: 0 auto;
  padding: 10px 9px;
  font-size: 30px;
  margin: 15px 0;
}

#betsec3 a{
  text-decoration: none;
}

#betsec4 {
  padding: 200px 0;
  position: relative;
}

#betsec4 .flower-right {
    position: absolute;
    top: -355px;
    right: 0;
    z-index: 1;
}

#betsec4 .flower-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}


.panel-default > .panel-heading {
    background-color: transparent;
}

.panel-heading {
    padding: 0;
}

.panel-default {
    border-color: transparent;
}

.panel {
    background-color: transparent;
    box-shadow: none;
}


/*******************************

SIDE NAVIGATION

*******************************/



/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* --------------------------------

Main components

-------------------------------- */
#cd-vertical-nav ul{
  list-style: none;

}

.cd-section {
  min-height: 100%;
  position: relative;
  padding: 2em 0;
}
.cd-section:nth-of-type(odd) {
  background-color: #3e3947;
}
.cd-section:nth-of-type(odd) p {
  color: #898099;
}
.cd-section:nth-of-type(even) {
  background-color: #745360;
}
.cd-section:nth-of-type(even) p {
  color: #bda3ad;
}
.cd-section h1, .cd-section p {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 768px;
  text-align: center;
}
.cd-section h1 {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
}
.cd-section p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .cd-section h1 {
    font-size: 30px;
  }
  .cd-section p {
    font-size: 20px;
    line-height: 2;
  }
}

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("/images/default-source/vcon17/cd-arrow-bottom.svg") no-repeat center center;
}

/* No Touch devices */
.cd-nav-trigger {
  display: none;
}

#cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 900;
}
#cd-vertical-nav li {
  text-align: right;
}
#cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
#cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
#cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#cd-vertical-nav a:hover .cd-label {
  opacity: 1;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
#cd-vertical-nav a.is-selected .cd-dot {
  background-color: white !important;
}
#cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #57CAEB;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
#cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: #fff;
  font-size: 14px;
  background-color: #57CAEB; 
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* Touch devices */
.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}
.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
  top: -9px;
}
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
  display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #57CAEB;
}
.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger {
    display: none;
  }
}



/*******************************

ADDITIONAL SITEFINITY

*******************************/

.gear-left {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: -1
}

.gear-right {
    position: absolute;
    top: 30%;
    right: 0;
    z-index: -1
}

@media only screen and (max-width: 767px) {
  .gear-left, .gear-right {
    display: none;
  }
}

@media (min-device-width : 768px) and (max-device-width : 1023px){
  .gear-left, .gear-right {
    opacity: 0.3;
    max-width: 25%;
  }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .gear-left, .gear-right {
    max-width: 25%;
  }
}


@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) {
  .gear-left, .gear-right {
    opacity: 0.3;
  }
}

@media (min-device-width : 768px) {
  .jssocials-share-whatsapp, .sns-icon-sc {
    display: none !important;
  }
}




/*******************************

TRANSLATIONS DESKTOP

*******************************/

#betsec1 h1.fr {
    font-size: 70px !important;
}

#section3 h3.fr {
    font-size: 50px !important;;
}

#section6 h1.fr {
    font-size: 50px !important;
}

#section6 h3.fr {
    font-size: 50px !important;
}

#main-header h1.fr {
    font-size: 35px !important;
}



/*******************************

TRANSLATIONS MOBILE

*******************************/


@media only screen and (max-width: 767px) {
  .tr .dig label {
    font-size: 12px;
  }

  #betsec1 h1.fr {
    font-size: 35px !important;
  }

  #section3 h3.fr {
    font-size: 25px !important;
  }
  #section6 h1.fr {
    font-size: 30px !important;
  }
  #section6 h3.fr {
    font-size: 25px !important;
  }
  #betsec2 .flower-right {
    position: absolute;
    bottom: -71px;
    max-width: 40%;
    right: 0;
  }


  #section7 h1.ru, #section7 h1.tr {
    font-size: 35px;
  }
  #section7 h1 span.ru {
    font-size: 45px;
  }
  #section6 h3.ru {
    font-size: 27px;
  }

  a.return-vsite.fr {
    padding: 25px 15px 25px 0;
    font-size: 12px;
  }
  p.vp-name.tg {
    margin-top: 22px;
  }

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  .m-list .col-xs-12 img {
    padding-bottom: 20px;
    max-width: 50%;
    margin: 0 auto;
  } 
}

